<form action="/edit-pet/{{_id}}" class="cat-form" enctype="multipart/form-data">
    <h2>Edit Pet</h2>
    <label for="name">{{name}}</label>
    <input type="text" id="name" value="{{name}}">
    <label for="description">Description</label>
    <textarea id="description">{{description}}</textarea>
    <label for="image">Image</label>
    <input type="text" id="image">
    <label for="group">Breed</label>
    <select id="group">
        <option value="Fluffy Cat">Fluffy Cat</option>
    </select>
    <button>Edit Cat</button>
</form>